[submodule "hangman-game"]
	path = hangman-game
	url = https://github.com/guilhermealvesc/hangman-game.git
[submodule "POO/hangman-game"]
	path = POO/hangman-game
	url = https://github.com/guilhermealvesc/hangman-game.git
[submodule "POO/Trabalho_final_POO"]
	path = POO/Trabalho_final_POO
	url = git@github.com:joaoBatistaDesenvolvedor/Trabalho_final_POO.git
[submodule "Haskell"]
	path = Haskell
	url = git@github.com:guilhermealvesc/Haskell.git
[submodule "AED2/hash-table-dynamic-resize"]
	path = AED2/hash-table-dynamic-resize
	url = git@github.com:guilhermealvesc/hash-table-dynamic-resize.git
[submodule "AED2/graph/trees/prefix-tree"]
	path = AED2/graph/trees/prefix-tree
	url = git@github.com:guilhermealvesc/prefix-tree.git
[submodule "AED1/AED1---Trabalho"]
	path = AED1/AED1---Trabalho
	url = git@github.com:guilhermealvesc/AED1---Trabalho.git
[submodule "AED1/aed-trab-2"]
	path = AED1/aed-trab-2
	url = git@github.com:heitorfreitasferreira/aed-trab-2.git
[submodule "PL/PROLOG"]
	path = PL/PROLOG
	url = git@github.com:guilhermealvesc/PROLOG.git
[submodule "PL/SistemadeGastosPROLOG"]
	path = PL/SistemadeGastosPROLOG
	url = git@github.com:guilhermealvesc/SistemadeGastosPROLOG.git
