body {
  background-color: #ddd;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
}





header {
  color: #555;
  padding: 0.5rem;
  text-align: center;
}

nav {
  position: sticky;
  top: 0;
  background-color: #555;
  color: #eee;
  text-align: center;
  padding: 1rem;
}

footer {
  border-radius: 10px;
  text-align: center;
  margin: 5px 0 0 0;
  padding: 2%;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
  padding: 0;
}

nav a {
  color: lightgray;
  text-decoration: none;
}

main {
  background-color: #fff;
  margin: 5px 0;
  border-radius: 10px;
  border: lightgray 1px solid;
  width: 60%;
  margin: 0 auto;
  padding: 2% 4%;
}

@media (max-width: 600px) {
  main {
    width: 95%;
  }
}

h2 {
  color: #555;
}
